<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/webjars/bootstrap-select/css/bootstrap-select.min.css">
	<meta http-equiv="refresh" content="30">
</head>
<body>
	<div class="container">
		<h1>Controller Main Page</h1>
		<div class="row">
			<div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th>Status</th>
							<th>Peer Address</th>
							<th>Reconnect Address</th>
							<th>Firm</th>
							<th>Amiibo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img th:src="${state.connected}? '/webjars/mdi\_\_svg/svg/bluetooth-connect.svg' : '/webjars/mdi\_\_svg/svg/bluetooth-off.svg'"> <img
								th:src="${state.nfcActive}? '/webjars/mdi\_\_svg/svg/nfc-variant.svg' : '/webjars/mdi\_\_svg/svg/nfc-variant-off.svg'"> <img
								th:src="${state.scriptActive}? '/webjars/mdi\_\_svg/svg/ghost.svg' : '/webjars/mdi\_\_svg/svg/ghost-off.svg'"></td>
							<td th:text="${state.peer}"></td>
							<td th:text="${state.reconnectAddress}"></td>
							<td th:text="${state.firmwareFileName}"></td>
							<td th:text="${state.nfcFileName}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<a class="btn btn-outline-secondary" th:href="@{/script/stop}" role="button">Stop script</a>
			</div>
			<div class="col-4">
				<span th:text="${state.runningScriptId}"></span>
			</div>
			<div class="col-2">
				<a class="btn btn-outline-danger" th:href="@{/script/kill}" role="button">Kill script</a>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<a th:each="script: ${quick_scripts}" th:text="${script.title}" type="button" class="btn btn-outline-primary mr-2"
					th:href="@{/script/start(id=${script.id})}">Primary</a>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-12">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="scripts-tab" data-toggle="tab" href="#scripts" role="tab" aria-controls="scripts"
						aria-selected="true">Settings &amp; Scripts</a></li>
					<li class="nav-item"><a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced"
						aria-selected="false">Advanced</a></li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="scripts" role="tabpanel" aria-labelledby="scripts-tab">
						<form method="get" action="/settings/update_mac">
							<div class="form-group row mt-2">
								<label for="colMacLabel" class="col-sm-2 col-form-label">Reconnect Addresses</label>
								<div class="col-sm-6">
									<select class="custom-select" id="colMacLabel" name="return_of_the_mac">
										<option value="">None</option>
										<option th:each="mac: ${all_macs}" th:value="${mac.key}" th:text="${mac.value}">One</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary mr-2">Submit</button>
							</div>
						</form>
						<form method="get" action="/settings/update_spi">
							<div class="form-group row mt-2">
								<label for="colSpiLabel" class="col-sm-2 col-form-label">SPI Firmware</label>
								<div class="col-sm-6">
									<select class="custom-select" id="colSpiLabel" name="spi_file">
										<option value="">None</option>
										<option th:each="spi: ${all_spis}" th:value="${spi}" th:text="${spi}">One</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary mr-2">Submit</button>
							</div>
						</form>
						<form method="get" action="/settings/update_nfc">
							<div class="form-group row mt-2">
								<label for="colNfcLabel" class="col-sm-2 col-form-label">Amiibo</label>
								<div class="col-sm-6">
									<select class="selectpicker form-control" data-style="custom-select" data-live-search="true" id="colNfcLabel" name="nfc_file">
										<option value="">None</option>
										<option th:each="nfc: ${all_nfcs}" th:value="${nfc}" th:text="${nfc}">One</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary mr-2">Submit</button>
							</div>
						</form>
						<form method="get" action="/script/start">
							<div class="form-group row mt-2">
								<label for="colPSLabel" class="col-sm-2 col-form-label">Execute script</label>
								<div class="col-sm-6">
									<select class="custom-select" id="colPSLabel" name="id">
										<option th:each="script: ${normal_scripts}" th:value="${script.id}" th:text="${script.title}">One</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary mr-2">Submit</button>
							</div>
						</form>
					</div>
					<div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
						<div class="row">
							<div class="col-12">
								<a class="btn btn-outline-danger mt-2" th:href="@{/app/refresh}" role="button">Reload scripts & config</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/popper.js/umd/popper.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap-select/js/bootstrap-select.min.js"></script>
</body>
</html>
